name: Build and deploy ASP.Net Core app to Azure Web App - AutrhServicesss

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore AuthService.Api/AuthService.Api.csproj

      - name: Build
        run: dotnet build AuthService.Api/AuthService.Api.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish AuthService.Api/AuthService.Api.csproj --configuration Release --output publish --no-build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_9813A16C86AC4C37832CCE8299021677 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_16A2F98AC6874CB0A14618239ACA3D4A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0521E40177C1450080D96686D2FACDB1 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: AutrhServicesss
          package: .


